.first {
  width: 1496.8px;
  height: 543.5px;
  margin: 0 auto;
  background-image: url(../img/header.png);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden; 
  position: relative;
  margin-bottom: 30px;
}
@font-face {
  font-family: 'MyFont';
  src: url('../fonts/禹卫书法行书简体优化版.ttf') format('woff2'); 
  }

.first .word{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.first .word p:first-child{
  font-family: 'MyFont';
  font-size: 48px;
  color: #fff;
  margin: 0px;
  margin-left: 30px
}
.first .word p:last-child{
  font-size: 22px;
  color: #fff;
  margin: 0px;
}